<div>
  <%= l(:added_as_watcher, issue: @issue.id, author: h(@action_author), scope: :add_watcher_notifier) %>
  <hr />
  <%= render partial: 'issue', formats: [:html], locals: { issue: @issue, user: @user, issue_url: @issue_url } %>
</div>